{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}">

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    {% block head %}
    {% endblock %}
</head>

<body>
<!--NAV BAR-->
<nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-white">
    <a class="navbar-brand" href="/">ondmnd.io</a>

    {% if not request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item {% if request.GET.next != '/courier/' %}active{% endif %}">
          <a class="nav-link active" aria-current="page" href="/sign-in/?next=/customer/" style="font-weight:400; color:#666">Customer</a>
        </li>
        <li class="nav-item {% if request.GET.next == '/courier/' %}active{% endif %}">
          <a class="nav-link active" aria-current="page" href="/sign-in/?next=/courier/" style="font-weight:400; color:#666">Courier</a>
        </li>
      </ul>
    </div>
    {% else %}
        <form class="form-inline">
            <span class="mr-4" style="color:#FFF">{{ request.user.first_name }} {{ request.user.last_name }}</span>
            <a href="/sign-out" class="btn btn-light" style="color:#FFF">Sign Out</a>
        </form>
    {% endif %}
</nav>


<!--BODY-->
{% block content %}

{% endblock %}


<!--FOOTER-->
<footer>
    <div class="text-center mt-5 mb-5" style="font-family:'Space Grotesk', sans-serif">
        <p>Registered Address</p>
        <p>Baggot St, Dublin 2, Ireland</p>
    </div>
    <div class="text-center mt-5 mb-5" style="font-family:'Space Grotesk', sans-serif">&copy; ONDMND.io</div>
</footer>

<script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

<script>
    function toast(message, type) {
        bootoast.toast({
            position: 'leftBottom',
            message,
            type,
        });
    }

    {% if messages %}

    {% for message in messages %}
    toast('{{ message }}', '{{ message.tags }}');
    {% endfor %}

    {% endif %}
</script>

</body>
</html>
