{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-uppercase mb-3">
                        <b>
                            Password Reset Complete
                        </b>
                    </h4>

                    
                    Your password hasbeen set. You may go head and login Now
                        
                    <a href="{% url 'sign-in' %}">Login</a>      
                      
                   
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}