{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-uppercase mb-3">
                        <b>
                            <h6>Enter New Password</h6>
                        </b>
                    </h4>

                    <form method="POST">
                        {% csrf_token %}
                            {{ form }}
                        <input type="submit" name="send email">
                        
                            
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>



{% endblock %}